.chartDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 81%; /* Set a maximum width */
  margin: auto; /* Center the chartDiv horizontally */
}

#qrcode {
  width: 200px;
  height: 200px;
}


.time-period-div {
  width: 80%; /* Take up full width of the container */
  margin-bottom: 10px; /* Adjust margin as needed */
}

canvas {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}


.arrow {
  border: solid;
  border-width: 0.20em 0.20em 0 0;
  display: inline-block;
  padding: 0.20em;
}

.up {
  position: relative;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-color: #04f275 #04f275 #04f275 #04f275;
}

.down {
 position: relative;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border-color: #f2040a #f2040a #f2040a #f2040a ;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Be Vietnam Pro Regular'), local('BeVietnamPro-Regular'), url('fonts/BeVietnamPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: local('Quicksand Light'), local('Quicksand-Light'), url('resources/fonts/quicksand-light.ttf') format('truetype');
}
.table,th, td,th {
  overflow-x:auto;
  overflow-y: auto;
   padding: 20px; 
  height: 100%;
  border: 1px solid orange;
  border-radius: 10px;
   align-items: center;
}
table csstr:hover {background-color: #68acd4;}




.settings-button {
	display: flex;
	align-items: center;
	color: var(--c-text-tertiary);
	background-color: transparent;
	border: 0;
	padding: 0;
	margin-left: 1.5rem;
	cursor: pointer;
	transition: 0.25s ease;
	i {
		margin-right: 0.5rem;
	}
	&:focus,
	&:hover {
		color: var(--c-white);
	}
}



.save-button {
	border: 1px solid currentColor;
	color: var(--c-text-tertiary);
	border-radius: 6px;
	padding: 0.75em 2.5em;
	background-color: transparent;
	transition: 0.25s ease;
	cursor: pointer;
	&:focus,
	&:hover {
		color: var(--c-white);
	}
}



.payment-section-header {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	p {
		color: var(--c-text-tertiary);
		font-size: 0.875rem;
	}

	div {
		padding-left: 1rem;
		margin-left: auto;
		display: flex;
		align-items: center;
		& > * + * {
			margin-left: 0.5rem;
		}
	}
}

.card-button {
	display: flex;
	width: 50px;
	height: 34px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: transparent;
	transition: 0.25s ease;
	border-radius: 4px;
	border: 2px solid var(--c-gray-600);
	color: var(--c-text-primary);
	cursor: pointer;
	&.mastercard svg {
		max-height: 15px;
	}

	&:focus,
	&:hover,
	&.active {
		color: var(--c-gray-800);
		background-color: var(--c-white);
		border-color: var(--c-white);
	}
}



.flat-button {
	border-radius: 6px;
	background-color: var(--c-gray-700);
	padding: 0.5em 1.5em;
	border: 0;
	color: var(--c-text-secondary);
	transition: 0.25s ease;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: var(--c-gray-600);
	}
}


.icon-button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	border: 1px solid var(--c-gray-500);
	color: var(--c-text-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.25s ease;
	flex-shrink: 0;
	&.large {
		width: 42px;
		height: 42px;
		font-size: 1.25em;
	}

	i {
		transition: 0.25s ease;
	}

	&:hover,
	&:focus {
		background-color: var(--c-gray-600);
		box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
	}
}






.ring {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

:root {
	--c-gray-900: #111;
	--c-gray-800: #1f1f1f;
	--c-gray-700: #2e2e2e;
	--c-gray-600: #313131;
	--c-gray-500: #969593;
	--c-gray-400: #a6a6a6;
	--c-gray-300: #bdbbb7;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;

	--c-green-500: #45ffbc;
	--c-olive-500: #e3ffa8;

	--c-white: var(--c-gray-100);

	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);
}

body {
       overflow-y: auto; 
       overflow-x: hidden;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-gray-900);
	color: var(--c-text-primary);
	display: flex;
	justify-content: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	/*! left: 100; */
	/*! align-content: center; */
	/*! max-width: 155%; */
}

img {
	display: block;
	max-width: 100%;
}


select,
input,
textarea {
	font: inherit;
}



.responsive-wrapper {
	width: 90%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.app {
	min-height: 80vh;
	width: 100%;
	max-width: 1600px;
	display: flex;
	flex-direction: column;
}



.app-body {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			min-content,
			400px
		);

	column-gap: 4rem;
	padding-top: 2.5rem;

	@media (max-width: 1200px) {
		grid-template-columns: 1fr;
		& > * {
			margin-bottom: 3.5rem;
		}
	}
}

.app-body-navigation {
	display: -webkit-inline-box;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: 1200px) {
		display: relative;
	}
}

.app-body-sidebar {
}

.footer {
	margin-top: auto;
	h1 {
		font-size: 1.5rem;
		line-height: 1.125;
		display: flex;
		align-items: flex-start;
		small {
			font-size: 0.5em;
			margin-left: 0.25em;
		}
	}

	div {
		/*! border-top: 1px solid var(--c-gray-600); */
		margin-top: 1.5rem;
		padding-top: 1rem;
		font-size: 0.75rem;
		color: var(--c-text-tertiary);
	}
}

.logo {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--c-gray-600);
	@media (max-width: 1200px) {
		border-bottom: 0;
	}
}

.logo-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
}

.logo-title {
              background-image: linear-gradient(45deg, #ff0000, #ff9900, #33cc33, #0099cc, #9900cc, #ff3399);
              background-size: 200% 200%;
              -webkit-background-clip: text;
              color: transparent;
              animation: rainbowSlide 5s linear infinite;
              padding-left: 10px;
              font-size: 1.75rem;
	}
 @keyframes rainbowSlide {
              0% {
                  background-position: 0% 50%;
              }
              100% {
                  background-position: 200% 50%;
              }
          }

.app-header {
    background-color: var(--c-gray-900);
   
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
   
    z-index: 1000; /* Ensure the header appears above other elements */
}

    .header-container {
        display: flex;
        justify-content: space-around;
    }

    .header-item {
        flex: 1;
        padding: 10px;
        text-align: center;
        border: 1px solid #999;
    }
 .service-section,.navigation, .ring, .app-header {
	box-shadow: 0 10px 10px rgb(42, 247, 0);
	padding: 10px;
  border-radius: 10px;
	/*! width: auto; */
	/*! max-width: 200%; */
}
 

   
/* hamburger */
      .checkboxhamb {
        display: none;
      }
    /* functionality */
/* navigation for large screens */
    @media only screen and (min-width: 769px) {
				th, td {
    width: 20%;
  }
			.app-body {
    align-items: flex-start; /* Align items at the top */
  }
.app-body-main-content {
    flex: 2; /* Adjust the flex value based on your design */
    max-width: 74%;
    width: 100%; /* Take up full width */
    margin: 10px;
  }

  .app-body-sidebar {
    width: 1;
    flex: 1; /* Adjust the flex value based on your design */
     
    width: 100%; /* Take up full width */
    margin: 10px;
  }

  .ring {
    flex: 1; /* Adjust the flex value based on your design */
    order: -2; /* Move the ring to the left of the sidebar */
     /* width: 100%;*/
    margin: 10px;
  }
      .list {
      list-style-type: none; 
         }
      .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--c-text-tertiary);
       /*! box-shadow: 0 15px 35px rgb(132, 132, 132); */
        padding: 10px;
        border-radius: 4px;
        a {
          display: flex;
					padding: 15px;
          align-items: center;
          transition: 0.25s ease;
  
          * {
            transition: 0.25s ease;
          }
  
          i {
            margin-right: 0.75rem;
            font-size: 1.25em;
            flex-shrink: 0;
          }
  
          & + a {
            margin-top: 1.25rem;
          }
  
          &:hover,
          &:focus {
						border-radius: 10px;
            transform: translateX(4px);
						ra
            color: var(--c-text-primary);
          }
        }
        /*! top: unset; */
        /*! align-items: center; */
        /*! align-content: center; */
      }

      
    }
/* mobile css */
    @media only screen and (max-width: 768px) {
      .app-body {
    position: relative; /* Add relative positioning to create stacking context */
  }

  .ring {
    position: absolute; /* Change to absolute positioning */
    top: 121%; /* Adjust as needed based on your layout */
    left: 50%; /* Adjust as needed based on your layout */
    transform: translate(-50%, -50%); /* Center the ring */
    z-index: 1; /* Set a higher z-index to ensure it appears on top */
    width: 100%;
  }

  .app-body-main-content {
    z-index: 2; /* Set a higher z-index to ensure it appears above the ring */
    width: 100%;
  }

  
	.footer {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: var(--c-gray-900);
    padding: 1rem;
    bottom: -30%;
  }

  .footer h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem; /* Adjust spacing as needed */
  }

  .footer div {
    font-size: 0.75rem;
    top: 100%; /* Place the div at the bottom of the footer */
  }
		.table,
  th,
  td,
  th {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 6px;
    font-size: 14px;
    width: 100%; /* Set the width to 100% to make it fit the service-section */
    table-layout: fixed; /* Ensure equal width for all columns */
			}
			th, td {
    width: 20%;
  }
       .header-item {
				padding: 2px
			}
      /* hamburger */
      .checkboxhamb ,.ring i{
        display: none;
      }
			 .list {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;
    }

    .item {
      font-size: 36px;
    }

    .link:link,
    .link:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 220%;
      transition: all 0.4s;
    }

    .link:hover,
    .link:active {
      color: lightgreen;
      cursor: pointer;
    }
  .buttonhamb {
      display: block;
      /*! position: absolute; */
      background-color: white;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      position: fixed;
      top: 1vh;
      right: 1vw;
      z-index: 2000;
      box-shadow: 0 1rem 3rem black;
      text-align: center;
      cursor: pointer;
    }
     
 .backgroundhamb {
      display: block;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      position: fixed;
      top: 1vh;
      right: 1vw;
      background-image: radial-gradient(#000, #20ff00);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }
      

      .checkboxhamb:checked ~ .backgroundhamb {
        transform: scale(80);
      }
  .navigation {
      height: 50vh;
      position: fixed;
      top: 0;
      right: -60vw;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s;
    }
      .checkboxhamb:checked ~ .navigation {
        opacity: 1;
        width: 100%;
        right: 0;
      }

      /* styling hamb ICON */
      .iconhamb {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .iconhamb,
      .iconhamb::before,
      .iconhamb::after {
        width: 1.25rem;
        height: 1.25px;
        background-color: gray;
        display: block;
        position: relative;
      }

      .iconhamb::before,
      .iconhamb::after {
        content: "";
        position: fixed;
        left: 0;
        transition: all 0.2s;
      }

      .iconhamb::before {
        top: -0.8rem;
      }

      .iconhamb::after {
        top: 0.8rem;
      }

      .buttonhamb:hover .iconhamb:before {
        top: -1rem;
      }

      .buttonhamb:hover .iconhamb::after {
        top: 1rem;
      }

      .checkboxhamb:checked + .buttonhamb .iconhamb {
        background-color: transparent;
      }

      .checkboxhamb:checked + .buttonhamb .iconhamb::before {
        top: 0;
        transform: rotate(135deg);
      }

      .checkboxhamb:checked + .buttonhamb .iconhamb::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }

.tabs {
	display: flex;
	justify-content: space-between;
	color: var(--c-text-tertiary);
	border-bottom: 1px solid var(--c-gray-600);

	a {
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-decoration: none;
		border-top: 2px solid transparent;
		display: inline-flex;
		transition: 0.25s ease;
		&.active,
		&:hover,
		&:focus {
			color: var(--c-text-primary);
			border-color: var(--c-text-primary);
		}
	}
}

.user-profile {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: var(--c-text-tertiary);
	transition: 0.25s ease;

	&:hover,
	&:focus {
		color: var(--c-text-primary);
		span:last-child {
			box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
		}
	}

	span:first-child {
		display: flex;
		font-size: 1rem;
		border:2px solid #0bffdd;
		font-weight: 300;
	}

	span:last-child {
		transition: 0.25s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 0.5rem;
		flex-shrink: 0;
	}
}






.service-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	& > * + * {
		margin-left: 1.25rem;
	}

	@media (max-width: 1000px) {
		display: none;
	}
}

.service-section-footer {
	color: var(--c-text-tertiary);
	margin-top: 1rem;
}



	i {
		position: absolute;
		left: 2px;
		top: 50%;
		transform: translateY(-50%);
	}
}



	i {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}



.mobile-only {
	display: none;
	@media (max-width: 1000px) {
		display: inline-flex;
	}
}

